BACKEND_PORT=5003
FRONTEND_PORT=3001
WHISPER_MODEL=medium
WHISPER_LANGUAGE=ru
CHUNK_SECONDS=60
VITE_API_BASE_URL=
ALLOW_ORIGINS=https://zoom-transcribition.keykey.com.ua,http://zoom-transcribition.keykey.com.ua,http://localhost:5173,http://127.0.0.1:5173
